<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted"></div>
            <div class="text-muted">
                Todos los derechos Reservados &copy;  <img src="assets/imagen/iconos/superhero.png" alt="" width="24px" title="Natalie"> Natalie 2022 | Creado con el <i class="fa-solid fa-heart text-danger" title="Corazón"></i> y con mucha <img src="assets/imagen/iconos/beer.png" alt="" width="24px" title="cerveza"> 
            </div>
        </div>
    </div>
</footer>